a{
    text-decoration: none;
}

.menu{
    font-size: 20pt;
    font-weight: bold;
}

.child{
    font-size: 15pt;
    font-style: italic;
}

.unwrapped{
    font-size: 15pt;
    font-style: italic;
}